.photo{
    height: 450px;;
    background-size: cover ;
    padding: 2rem;
    margin: 2rem;
  border-radius: 40%;

}
.card{
    border-radius:12px !important;
}

.btn-success{
height: 50px;
}
.container-second{
  height: 50%;
  border-radius: 20%;
}

